<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="seller()">
                <h1 class="h3 mb-3 font-weight-normal">Book Details</h1>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN"
                        [(ngModel)]="bookDetails.isbn">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title"
                        [(ngModel)]="bookDetails.title">
                </div>
                <div class="form-group">
                    <label for="authors">Authors</label>
                    <input type="text" class="form-control" name="authors" placeholder="Enter Authors"
                        [(ngModel)]="bookDetails.authors">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity"
                        [(ngModel)]="bookDetails.quantity">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter Price"
                        [(ngModel)]="bookDetails.price">
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <button class="btn btn-custom right" type="button" (click)="resetForm(bookForm)">UPDATE</button>
                        <button class="btn btn-custom right" type="submit">ADD</button>
           
                    </div>
                </div>
            </form>
        </div>
        <div class="col s9">
            <table class="responsive-table highlight">
                <thead>
                  <tr>
                    <th>Book Title</th>
                    <th>Book Quantity</th>
                    <th>Book Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tr *ngFor="let book of books">
                  <td>{{book.title}}</td>
                  <td></td><td></td>
                  <td>{{book.quantity}}</td>
                  <td></td><td></td>
                  <td>{{book.price}}</td>
                  <td>
                      <button><a class="action-btn" (click)="onEdit(book)">
                        edit
                      </a>
                    </button>
                    
                    <button>
                      <a class="action-btn" (click)="onDelete(book._id)">
                        delete
                      </a>
                    </button>
                     
                    </td>
                </tr>
              </table>
    </div>
</div>  
