<h1> Registration</h1>
<form action="/register" method="POST">
<div>
    <label for="name" >First Name</label>
    <input type="text" id="firstname" name="firstname" required>
</div>

<div>
    <label for="name" >Last Name</label>
    <input type="text" id="lastname" name="lastname" required>
</div>


<div>
    <label for="email" >Email</label>
    <input type="text" id="email" name="email" required>
</div>

<div>
    <label for="password" >Password</label>
    <input type="password" id="password" name="password" required>
</div>

<div>
    <label for="confirmpassword" >Confirm Password</label>
    <input type="password" id="confirmpassword" name="confirmpassword" required minlength="9">
</div>



<button type="submit"> Sign Up</button>

</form>
<button><a href="/login">Go Back </a></button>

