form(method ="post" action="/none")
table 
tr
    td Firstname 
    td 
        input(type="text" name="firstname")
tr
    td Lastname 
    td 
        input(type="text" name="lastname")
tr
    td Email 
    td 
        input(type="text" name="email")
tr
    td Password 
    td 
        input(type="password" name="password")
tr
    td Confirm Password 
    td 
        input(type="password" name="confirm-password")
tr
    td
    td
        input(type="submit" value="Register")