<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d89f5226eb.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://bootswatch.com/4/cosmos/bootstrap.min.css">
    <title>Web Application</title>
</head>
<body>
    
</body>
</html>