<div class="col s9">
  <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>BooK ID</th>
          <th>Book Title</th>
          <th>Book Quantity</th>
          <th>Book Price</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td></td><td></td>
        <td>{{book.quantity}}</td>
        <td></td><td></td>
        <td>{{book.PRICE}}</td>
        <td>
            <button><a class="action-btn" (click)="addToCart(book.id)">
              Add to Cart
            </a>
          </button>
        </td>
      </tr>
    </table>
</div>
