<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="seller()" (button)="putBookDetails()">
                <h1 class="h3 mb-3 font-weight-normal">Book Details</h1>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN"
                        [(ngModel)]="bookDetails.isbn">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter Title"
                        [(ngModel)]="bookDetails.title">
                </div>
                <div class="form-group">
                    <label for="authors">Authors</label>
                    <input type="text" class="form-control" name="authors" placeholder="Enter Authors"
                        [(ngModel)]="bookDetails.authors">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" placeholder="Enter Quantity"
                    required minlength="0" maxlength="999" [(ngModel)]="bookDetails.quantity">
                </div>
                
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Enter Price"
                    required minlength="0.1" maxlength="9999.99"   [(ngModel)]="bookDetails.price">
                   
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn btn-custom right" type="button">UPDATE</button>
                        <button class="btn btn-custom right" type="submit">ADD</button>
           
                    </div>
                </div>
            </form>
        </div>
       <h1>cart</h1>