<div class="col s2">
  <table style="margin-left: auto; margin-right: auto; margin-top: 100px;" class="responsive-table highlight">
      <thead>
        <tr>
          <th>Book ID</th>
          <th></th><th></th>
          <th>Book Title</th>
          <th></th><th></th>
          <th>User ID</th>
          <th></th><th></th>
          <th>Quantity</th>
          <th></th><th></th>
          <th>Price</th>
        </tr>
      </thead>
      <tr *ngFor="let cart of carts">
         <td style="text-align: center;">{{cart.bookid}}</td>
         <td></td><td></td>
        <td style="text-align: center;">{{cart.title}}</td>
        <td></td><td></td>
        <td style="text-align: center;">{{cart.userid}}</td>
        <td></td><td></td>
        <td style="text-align: center;">{{cart.quantity}}</td>
        <td></td><td></td>
        <td style="text-align: center;">{{cart.PRICE}}</td>
        <td></td><td></td><td></td><td></td>
        <td>
          <button [disabled] = 'cart.message != null'><a class="action-btn" (click)="onEdit(cart)" >
            Edit quantity
          </a>
        </button>
        </td>
        <td></td>
        <td></td>
        <td>
        <button>
          <a class="action-btn" (click)="onDelete(cart)" >
            Delete Item
          </a>
        </button>
      </td>
      <td></td>
      <td></td>
      <td>
        {{cart.message}}
      </td>

      </tr>
    </table>
</div>