form
{
    overflow: hidden;
    margin-bottom: 10px;
}


body 
{
    background-color: gainsboro;
}

.page-wrapper
{
    width: 500px;
    margin-left: 50;
    margin-right: 50;

    color: #888;
}

textarea
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 10px;
    resize: vertical;   
}

input[type="text"], input[type="password"]
{
    padding: 5px 25px;
    margin: auto;
    min-width: 150px;
    font-size: 1.05em;
    border: 1px ;
}
input[type="submit"]
{
    
    padding: 5px 25px;
    font-size: 1.06em;
    background-color: lightcoral;
    border: 1px;
    cursor: pointer;

}


