<!--margin top-->
<div class="row mt-5">
    <!--column and container to be middle-->
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
          <!--icons for design-->
       
        <h1>Welcome</h1>
        <p>Sign up or Sign In !!</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/user/login" class="btn btn-primary btn-block mb-2">Login</a>
      </div>
    </div>
  </div>>